In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
DATA_PATH = 'data/casestudy.csv'

In [7]:
df = pd.read_csv(DATA_PATH)
df.shape

(685927, 4)

In [8]:
df.head()

   Unnamed: 0         customer_email  net_revenue  year
0           0   nhknapwsbx@gmail.com       249.92  2015
1           1   joiuzbvcpn@gmail.com        87.61  2015
2           2   ukkjctepxt@gmail.com       168.38  2015
3           3   gykatilzrt@gmail.com        62.40  2015
4           4   mmsgsrtxah@gmail.com        43.08  2015

These queries would be a lot more efficient and easier in SQL. I use pandas for now cause I like working on a dedicated editor for SQL like pgAdmin with PostGreSQL and it is a hussle to turn the df into a db.

In [ ]:
# Total revenue for current year

# Change the year : in range 2015, 2020 ? and make it str and + 1

for year in df['year'].unique():
    
    # Total revenue for current year
    total_revenue_for_this_year = df[df['year'] == year]['net_revenue'].sum()
    
    # New Customer Revenue, not present in previous years
    # for customer in df['customer_email'].unique():
    #     pass
    
    # Existing Customer growth
    
    # Existing Customer Revenue Current Year
    
    
    # Existing Customer Revenue Previous Year